.ArticleX{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 2% auto;
    flex-direction: column;
}

.achHeadline{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    margin-top: 8%;
    margin-bottom: 10%;
}
.articleImages{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin-top: 2%;
}
.articleImages img{
    height:202px ;
    width: 305px;
    margin: 1% 0;
}
.achW{
    width: 89%;
    margin: 0 auto;
}
.listCircle{
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 500;
    color:#282828;
    line-height: 31.2px;
}
.underDate{
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 500;
    line-height: 31.2px;
    color:#282828;
}
.listCircle::before{
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    width:8px;
    margin: 0 auto;
    border-radius: 50%;
    height: 8px;
   background-color: black;
}
.underDate::after,
.listCircle::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: calc(100% + 15px);
height: 0px;
border: 1px solid black;
}
.linkArticle{
    text-decoration: underline;
    margin-right: 10px;
  color: #282828;
  cursor: pointer;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 400;
}

.linkAC,.articleText{
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 400;
}
.designAwards{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width:680px) {
    .articleImages{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-top: 4%;
        }
}