
/****** General Variables ******/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700;900&family=Montserrat:wght@400;500;700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    /* color general */
    --color-white: #FFF;
    --color-black: #282828;
    --color-secondry: #938C8C;

    
    /* font general */
    --my-font-family: 'Montserrat', sans-serif;
    --font: normal;
   
}
::selection {
    background-color: #282828;
    color:#FF8500;
  }